/*clear original CSS*/
body{width:100%;height:auto;margin:0;font-size:12px; padding:0;  font-size:12px; font-family: Helvetica, Verdana, Arial,  sans-serif; color:#444444; text-align: left; background-color:#fff;}
img{ border:0; margin:0; padding:0}
form{ margin:0; padding:0}
ul{ margin:0; padding:0; list-style-type:none}
li{ margin:0; padding:0; list-style-type:none}
dl{ margin:0; padding:0; list-style-type:none}
dt{ margin:0; padding:0; list-style-type:none}
dd{ margin:0; padding:0; list-style-type:none}
p{ margin:0; padding:0}
input{ margin:0; padding:0; vertical-align:middle}
select{ margin:0; padding:0; vertical-align:middle}
a, a:link { color: #848484; text-decoration: none; }
a:visited {}
a:active, a:hover { text-decoration: none; color: #81b542; }
a:focus { outline: none; }
span { margin:0; padding:0;}
h1,h2,h3 { margin:0; padding:0;}
h2 {font-size:14px; font-weight:normal;}
ul,li {list-style-type:none; text-transform:capitalize;}
dl,dt,dd {list-style-type:none; text-transform:capitalize; margin:0; padding:0;}
.clear {clear:both; *display:inline;/*IE only*/}
button {border:0 none;background-color:transparent;cursor:pointer}
tr,td,th {margin: 0; padding: 0; list-style-type:none; text-decoration: none; text-align:left; font-size: 18px;}
tr{height: 40px;}
th{width: 140px;}
input{ height: 28px;}
.fl{float: left}
.h30{height: 30px;}
.cg{color: #81b542}
.c1{color:white}
.c2{color: #bbbbbb}
/*Setting*/
p{
    font-size: 17px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-bottom: 4px
}

h1{
    font-family: "Times New Roman";
    font-size: 28px;
    margin: auto;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
    color: #4a4a4a;
    text-transform: uppercase;
    padding-bottom: 20px; }

h2{
    font-family: "Times New Roman";
    font-size: 22px;
    margin: auto;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
    color: #4a4a4a;
    text-transform: uppercase;
    padding-bottom: 12px;
    font-style: italic;}

.partContainer{
    width: 800px;
    margin-top: 20px;
    position: relative;
    left: 240px;
}


/*3Djs*/

.btn{
    width:100px;
    height:40px;
    background-color : #4CAF50;
    color : white;
    border: none;
    outline:none;
    font-size: 14px;
    margin-right:10px;
}

#timer{
    font-size: 30px;
    line-height: 1.4;
    margin-left: 30px;
}

/*tableau*/
.tableauPlaceholder{
    width: 600px;
    position: absolute;
    left: 240px;
    top: 10px
}

.footer{
    height: 180px;
    margin-top:60px;
    padding-top: 80px;
    background-color: #333333;
    font-size:20px;
}
.stuInform{
    margin-left: 280px;
    width: 600px;
}

.stuInform p{
    font-size: 20px;
    display: inline;
    width: 40px;

}

.header{
    background-color: #4CAF50;
    height: 160px;
    width: 100%;

}

.header img{
    width: 120px;
    height: 120px;
    padding-top: 20px;
    opacity: 0.5;
    margin-left:920px;


}

.title{
    width: 550px;
    height:60px;
    position: absolute;
    left: 240px;
    top: 60px;
    font-size: 22px;
    color: white;
}

.title p {
    font-size: 14px;
    color: white;
    width: 5500px;
    margin-top: 10px;

}
